---
layout: default
---

<div class="wrapper">
  <div class="home">

    <h1 class="page-heading">Posts {% include search.html id="posts-search" filter-class="post-list" %}</h1>

    <ul class="post-list">
      {% for post in site.posts %}
        <li data-search-id="{{ post.id }}">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/azure-search-emulator-js@0.6.1/azure-search-emulator.umd.js"></script>
<script src="/search-data.generated.js?v={{site.time | url_encode}}"></script>