<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.author }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a rel="me" href="https://github.com/{{ site.github_username }}">{% include svg-icon.html icon="fab-github" size="small" %}<span class="label">{{ site.github_username }}</span></a>
          </li>
          <li>
            <a rel="me" href="https://twitter.com/{{ site.twitter_username }}">{% include svg-icon.html icon="fab-twitter" size="small" %}<span class="label">{{ site.twitter_username }}</span></a>
          </li>
          <li>
            <a rel="me" href="https://{{ site.mastodon_instance }}/@{{ site.mastodon_username }}">{% include svg-icon.html icon="fab-mastodon" size="small" %}<span class="label">@{{ site.mastodon_username }}@{{ site.mastodon_instance }}</span></a>
          </li>
          <li>
            <a rel="me" href="https://discord.gg/{{ site.discord_invite }}">{% include svg-icon.html icon="fab-discord" size="small" %}<span class="label">{{ site.discord_server }}</span></a>
          </li>
          <li>
            <a rel="me" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">{% include svg-icon.html icon="fab-linkedin" size="small" %}<span class="label">{{ site.linkedin_username }}</span></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
