.site-logo {
    float: left;
    width: 3rem;
    height: 3rem;

    margin-top: 0.25rem;
    margin-right: 0.5rem;

    border-radius: 100%;
}

.icon+.label {
    margin-left: 0.25rem;
}
.icon.icon--small > svg {
    width: 16px;
    height: 16px;
}

.hidden {
    display: none;
}

.page-heading {
    display: flex;
    justify-content: space-between;

    @include media-query($on-palm) {
        flex-direction: column;
    }
}

$search-input-height: 30px;
$search-input-width: 16rem;
.search-inputs {
    display: flex;

    @include media-query($on-palm) {
        margin-top: 0.5rem;
    }

    label {
        margin-right: 0.5rem;

        svg {
            $diff: 10px;
            width: $search-input-height;
            height: $search-input-height - $diff;
            padding-bottom: $diff / 3;
        }
    }
    input {
        position: absolute;
        top: 0;
        left: 0;
        height: $search-input-height;
        width: $search-input-width;
        font-size: 1rem;
        border: solid 2px #828282;
        border-radius: 1rem;
        padding: 0.25rem 0.75rem;

        &.search-query-hint {
            border-color: transparent;
            color: $grey-color;
        }
        &.search-query-input {
            background: transparent;
        }
    }
    .search-query {
        position: relative;
        width: $search-input-width;
    }
}

.search-bar.hidden {
    display: none;
}